/* CSS Document */

*,htm{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:16px;
}

body{
	background-color:#efefef;
}

section{
	max-width:100%;
	height:224px;
	background-color:#fff;
	margin:1rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
	border-radius: 4px;
	overflow: hidden;
}
div{
	overflow: hidden;
	height:176px;
	
}
div.images img{
	width:100%;
}
.icons{
	
	text-align: right;
}

.icons a img{
	opacity: 0.54;
	margin:12px 24px 0 0;
	transition-duration: .5s;
}

.icons a img:hover{
	opacity: 1;
	transition-duration: .5s;
}