body{
    margin:0;
    box-sizing:border-box;
    
}
.container{
    max-width:1160px;
    background-color: #e9e9e9;
    height:600px;  
    margin:auto;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    
}


.smaller{
    height:40px;
    background-color:#CAE6D1;
    flex:0 0 22.5%;
    margin-left:2%;
    border-bottom: 10px solid #9fbfa7;
}
