*,html{
	box-sizing: border-box;
}
body{
	margin:0 auto;
	padding:0;
	font:normal 16px/16px Consolas, "Andale Mono", "Courier New", "monospace";
}


.box{
	background-color: tomato;
	margin:10px 0 10px 10px;
	display: flex;
min-height: 500px;
	p{
		margin: auto;
	}
}
.container{
	background-color: lightgray;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	//align-items:flex-start;
	//justify-content:space-between;
	min-height: 500px;
}

/* Three values: flex-grow | flex-shrink | flex-basis */
.box1{
	flex:4;
}
.box2{
	flex:1;
}
.box3{
	flex:1;
	margin-right:10px;
}
header{
	width:100%;
	background-color:blue;
	min-height: 200px;
}
footer{
	width:100%;
	background-color:green;
	min-height: 200px;
}